# Database (local)
DATABASE_URL="postgresql://oficina_user:oficina_pass@postgres:5432/oficina_db"

# Postgresql
POSTGRES_USER="oficina_user"
POSTGRES_PASSWORD="oficina_pass"
POSTGRES_DB="oficina_db"

# JWT
JWT_SECRET="change-me-with-at-least-32-characters"
JWT_EXPIRES_IN="1d"

# Admin Rules
ADMIN_USERNAME="admin"
ADMIN_PASSWORD_HASH="bcrypt-hash-here"

# Segurança SYNK
SYNK_TOKEN="token-pessoal-synk.io"